.why-us {
    background: $blue;
    color: #fff;
    padding: 95px 0 90px 0;
    &__content {
        margin-right: 20px;
    }
    p {
        margin-bottom: 27px;
    }
    &__adv {
        .big {
            font-weight: 600;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 4px;
        }
        .text {
            font-weight: 600;
        }
    }
    &__button{
        margin-top: 86px;
    }
    &__advantages {
        margin-left: 30px;
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: calc(100% - 30px);
            margin-bottom: 30px;
            border: 1px solid #329BC9;
            border-radius: 20px;
            padding: 27px 40px 15px 40px;
            &__icon {
                height: 55px;
                margin-bottom: 10px;
                img {
                    height: 100%;
                }
            }
            &__title {
                text-align: center;
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 10px;
            }
            &__p {
                font-size: 15px;
                line-height: 135%;
                text-align: center;
            }
        }
    }
}
@media (max-width: 992px) {
    .why-us {
        position: relative;
        padding: 34px 0 130px 0;
        &__content {
            p {
                margin-bottom: 20px;
            }
        }
        &__adv {
            .big {
                font-size: 26px;
                line-height: 31px;
            }
        }
        &__button {
            position: absolute;
            bottom: 56px;
            width: 288px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 0;
        }
        &__advantages {
            margin-left: 0;
            margin-top: 0;
            &__item {
                padding: 20px 37px 24px 37px;
                margin-bottom: 15px;
                height: calc(100% - 15px);
                &__icon {
                    height: 45px;
                }
                &__title {
                    font-size: 18px;
                    line-height: 21px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .why-us {
        &__advantages {
            margin-top: 32px;
        }
    }
    
}