<!DOCTYPE html>
<html lang="ru">
    @@include('../blocks/modules/head/head.html')
    <body class="catalog-page">
        @@include("../blocks/modules/header/header.html")
        <main>
            <div class="container">
                @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
                @@include("../blocks/modules/catalog-page/catalog-page.html")
            </div>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="js/jquery.maskedinput.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>