<!DOCTYPE html>
<html lang="ru">
@@include('../blocks/modules/head/head.html')

<body>
    @@include('../blocks/modules/header/header.html')
    <main>
        <div class="container">
            @@include('../blocks/modules/main-banner/main-banner.html')
            @@include('../blocks/modules/partners/partners.html')
            @@include('../blocks/modules/catalog/catalog.html')
        </div>
        @@include('../blocks/modules/why-us/why-us.html')
        <div class="container">
            @@include('../blocks/modules/support/support.html')
            @@include('../blocks/modules/consultation/consultation.html')
            @@include('../blocks/modules/news/news.html')
            @@include('../blocks/modules/faq/faq.html')
        </div>
    </main>
    @@include('../blocks/modules/footer/footer.html')S
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>

</html>