<!DOCTYPE html>
<html lang="ru">
@@include('../blocks/modules/head/head.html')

<body class="front-page">
    @@include('../blocks/modules/header/header.html')
    <main>
        <div class="container">
            @@include('../blocks/modules/main-banner/main-banner.html')
            @@include('../blocks/modules/partners/partners.html')
            @@include('../blocks/modules/catalog/catalog.html')
        </div>
        @@include('../blocks/modules/why-us/why-us.html')
        <div class="container">
            @@include('../blocks/modules/support/support.html')
            @@include('../blocks/modules/consultation/consultation.html')
            @@include('../blocks/modules/news/news.html')
            @@include('../blocks/modules/faq/faq.html')
        </div>
    </main>
    @@include('../blocks/modules/footer/footer.html')
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
        <script src="js/main.js"></script>
</body>

</html>