.support {
    padding: 95px 0;
    &__content {
        margin-right: 50px;
        &__list {
            padding-left: 55px;
            margin-bottom: 0;
            li {
                position: relative;
                list-style-type: none;
                font-weight: 600;
                margin-bottom: 23px;
                &:after {
                    font-family: Fontello;
                    content: '\e804';
                    display: block;
                    position: absolute;
                    color: $blue;
                    font-size: 32px;
                    line-height: 100%;
                    top: 7px;
                    left: -55px;
                }
            }
        }
    }
    &__image {
        margin-left: 40px;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}
@media (max-width: 992px) {
    .support {
        padding: 37px 0 35px 0;
        &__content {
            display: flex;
            flex-direction: column;
            margin-right: 0;
            &__list {
                li {
                    margin-bottom: 17px;
                }
            }
            &__button {
                justify-self: center;
                margin: 10px auto 0 auto;
            }
        }
        &__image {
            margin-left: 0;
            margin-top: 0;
        }
    }
}
@media (max-width: 768px) {
    .support {
        &__image {
            margin-top: 35px;
        }
    }
}