.catalog {
    padding: 70px 0 80px 0;
    &__link {
        display: flex;
        position: relative;
        bottom: -30%;
    }
    &__list {
        padding-top: 27px;
    }
    &__item {
        position: relative;
        display: block;
        background: #fff;
        padding: 20px 25px;
        margin-bottom: 20px;
        border-radius: 20px;
        min-height: 265px;
        img {
            display: block;
            width: 170px;
            height: 170px;
            object-fit: contain;
            margin: 0 auto;
            transition: 0.3s all;
        }
        &__title {
            margin-top: 15px;
            font-weight: 600;
            line-height: 20px;
            color: #272727;
            padding-right: 30px;
            transition: 0.2s all;
        }
        &__icon {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
        &:hover {
            .catalog__item__title {
                color: $blue;
            }
            .catalog__item__icon {
                background: #0096D8;
            }
            img {
                transform: scale(1.1);
            }
        }
        &_first {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: calc(100% - 20px);
            margin-bottom: 0;
            padding: 56px 40px 40px 40px;
            img {
                width: 360px;
                height: 360px;
            }
            .catalog__item {
                &__title {
                    margin-top: 50px;
                    font-size: 24px;
                    line-height: 28px; 
                    max-width: 250px;  
                }
                &__icon {
                    bottom: 50px;
                    right: 40%;
                }
            }
        } 
    }
}
@media (max-width: 992px) {
    .catalog {
        position: relative;
        padding: 36px 0 121px 0;
        &__list {
            padding-top: 20px;
        }
        &__item:not(.category-page__item) {
            padding: 16px;
            margin-bottom: 15px;
            min-height: 221px;
            img {
                height: 98px;
                width: 98px;
            }
            .catalog__item_first {
                padding: 32px 24px 24px 24px;
                margin-bottom: 15px;
                img {
                    height: 181px;
                    width: 181px;
                }
                .catalog__item  {
                    &__title {
                        margin-top: 28px;
                        font-size: 18px;
                        line-height: 21px;
                        max-width: 180px;
                    }
                    &__icon {
                        left: 200px;
                        bottom: 24px;
                    }
                }
            }
            .catalog__item__title {
                margin-top: 11px;
                font-size: 14px;
                line-height: 16px;
                padding-right: 0;
            }
            .catalog__item__icon {
                right: unset;
                left: 17px;
                bottom: 17px;
            }
        }
        &__link {
            position: absolute;
            width: 230px;
            bottom: 42px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}