.main-banner {
    display: flex;
    margin: 25px 0;
    background: #fff;
    border-radius: 20px;
    padding: 75px 60px 60px 60px;
    &__images {
        max-width: 50%;
        &__item {
            display: inline-block;
            float: right;
            width: 114px;
            max-width: 25%;
            margin-left: 14px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            overflow: hidden;
            img {
                width: 100%;
            }
            &:first-child {
                width: 442px;
                max-width: 100%;
                margin-bottom: 17px;
                margin-left: 0;
                border-radius: 0;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
            }
        }
    }
    &__content {
        margin-right: 10px;
        h1 {
            font-weight: 600;
            font-size: 50px;
            line-height: 59px;
            color: #272727;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 39px;
            max-width: 522px;
        }
    }
}