body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 135%;
    background: #F5F5F5;
}
a {
    text-decoration: none;
}
input[type=text], 
input[type=tel]{
    background: #FFFFFF;
    border-radius: 50px;
    padding: 15px 27px;
    color: #969696;
    border: none;
}
.icon-up {
    &:before {
        transition: 0.2s transform;
        transform: rotate(45deg);
    }
}
.text-center {
    text-align: center;
}
@media (min-width: 992px) {
    .mobile-none {
        display: none;
    }
}